{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Тренажер ментальной арифметики Triumph
{% endblock %}

{% block content %}
    <div style="height: 100%; text-align: center">
        <div class="board">
            <div class="board-content">
                <p id="board_text" class="board-text">
                    {% if user.first_name %}
                        Привет, {{ user.first_name }}! Добро пожаловать в школу ментальной
                        арифметики Триумф! Выбери нужный пункт в меню.
                    {% elif  user.username %}
                        Привет, {{ user.username }}! Добро пожаловать в школу ментальной
                        арифметики Триумф! Выбери нужный пункт в меню.
                    {% else %}
                        Привет! Пользователь, каким-то образом ты оказался тут без авторизации. Добро пожаловать в школу
                        ментальной
                        арифметики Триумф! Выбери нужный пункт в меню.
                    {% endif %}
                </p>
            </div>
        </div>

        <div id="under-board"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'triumph/js/triumph.js' %}"></script>
{% endblock %}